version: '3'
services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'identity'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'mysql_user_example'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'mysql_password_example'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'mysql_root_password_example'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
  API:
     image: truffle:test
     network_mode: "host" # network bridge
     privileged: true
     environment:
       MYSQL_USER: 'mysql_user_example'
       MYSQL_PASSWORD: 'mysql_password_example'
     volumes:
       - ./:/home/localadmin/code/identity # mount git
     # entrypoint: ["sh","/home/localadmin/code/identity/scripts/run_api.sh"]
     # command: bash -c "sh /home/localadmin/code/identity/scripts/run_api.sh"
# Names our volume
volumes:
  my-db:
